@media (max-width: 991px) {
    .container {
        max-width: 750px;
    }
    .advantages__item {
        width: 230px;
    }
    .carousel__inner {
        width: 571px;
    }
    .catalog__content {
        max-width: 630px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 560px;
    }
    .header {
        &__logo {
            width: 180px;
        }
        &__official {
            font-size: 11px;
            span {
                font-size: 15px;
            }
        }
        &__phone {
            font-size: 14px;
        }
        .button {
            width: 124px;
        }
    }
    .advantages {
        &__wrapper {
            flex-direction: column;
            align-items: center;
            margin-top: 10px;
        }
        &__item {
            width: 270px;
            margin-top: 30px;
        }
        &__header {
            margin-top: 20px;
        }
        &__text {
            margin-top: 15px;
        }
    }
    .carousel {
        &__inner {
            max-width: 510px;
        }
    }
    .catalog {
        &__tab {
            width: 160px;
            height: 40px;
            font-size: 16px;
            line-height: 39px;
        }
        &__content {
            max-width: 315px;
        }
    }
    .reviews__img {
        width: 100px;
        height: 100px;
    }
    .reviews__details {
        margin-left: 25px;
    }
}

@media (max-width: 575px) {
    .container {
        max-width: 300px;
    }
    .title {
        font-size: 20px;
    }
    .header {
        flex-wrap: wrap;
        &__logo {
            width: 150px;
        }
        &__official {
            order: 3;
        }
    }
    .promo {
        min-height: 550px;
        &__wrapper {
            align-items: center;
            margin-top: 40px;
        }
        &__header {
            font-size: 25px;
        }
        &__subheader {
            font-size: 14px;
        }
        &__icons {
            width: 320px;
            margin-top: 40px;
        }
        &__icon {
            font-size: 11px;
        }
    }
    .button_main {
        margin-top: 40px;
    }
    .consultation__descr {
        margin-top: 40px;
        font-size: 16px;
    }
    .carousel {
        padding-top: 50px;
        padding-bottom: 50px;
        &__inner {
            max-width: 310px;
        }
    }
    .catalog {
        padding-bottom: 60px;
        &__tabs {
            margin-top: 30px;
            flex-direction: column;
            align-items: center;
        }
        &__tab {
            width: 230px;
            margin: 5px;
        }
        &__content {
            margin-top: 30px;
        }
    }
    .reviews {
        padding-bottom: 30px;
        &__item {
            flex-direction: column;
            &_mb {
                margin-bottom: 50px;
            }
        }
        &__img {
            display: block;
            margin: 0 auto 15px;
        }
        &__details {
            margin-left: 0;
        }
        &__name,
        &__marathon {
            text-align: center;
        }
    }
}