@import 'variables';
* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}

.container {
    max-width: 945px;
    margin: 0 auto;
}

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/button';
@import 'blocks/advantages';
@import 'blocks/title';
@import 'blocks/consultation';
@import 'blocks/contact-form';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/catalog-item';
@import 'blocks/reviews';
@import 'blocks/footer';
@import 'media';