.carousel {
    padding: 82px 0;
    &__inner {
        width: 750px;
        margin: 0 auto;
        position: relative;
        img {
            width: 100%;
        }
        .slick-prev,
        .slick-next {
            position: absolute;
            background: none;
            border: none;
            top: 50%;
            transform: translateY(-50%);
            left: -97px;
            img {
                width: 31px;
                height: 50px;
            }
        }
        .slick-next {
            right: -97px;
            left: auto;
        }
    }
}