.catalog {
    padding-bottom: 103px;
    &__tabs {
        margin: 0 auto;
        margin-top: 70px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-left: 0;
    }
    &__tab {
        width: 220px;
        height: 50px;
        list-style: none;
        border: 2px solid #d0d0d0;
        margin: 0 5px;
        color: #6b6b6b;
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;
        text-align: center;
        line-height: 50px;
        transform: skewX(-25deg);
        transition: 0.5s all;
        cursor: pointer;
        &:hover {
            box-shadow: 3px 3px 20px $m-color;
            border: none;
        }
        &_active {
            background-color: $m-color;
            color: #ffffff;
            border: none;
        }
        div {
            transform: skewX(25deg);
        }
    }
    &__content {
        max-width: 945px;
        margin: 0 auto;
        margin-top: 60px;
        display: none;
        flex-wrap: wrap;
        &_active {
            display: flex;
        }
    }
}