.consultation {
    min-height: 680px;
    padding: 100px 0 92px;
    background: url('../img/training.jpg') center (center / cover) no-repeat;
    &__descr {
        color: #ffffff;
        font-size: 20px;
        font-weight: 300;
        line-height: 1.2;
        max-width: 400px;
        margin-top: 80px;
    }
}